<p>
  <b>Changed:</b>
  <%=h @rate_change.changed %>
</p>

<p>
  <b>Interest:</b>
  <%=h @rate_change.interest %>
</p>


<%= link_to 'Edit', edit_rate_change_path(@rate_change) %> |
<%= link_to 'Back', rate_changes_path %>
