<p>
  <b>When:</b>
  <%=h @advance.dop %>
</p>

<p>
  <b>Amount:</b>
  <%=h @advance.amount %>
</p>


<%= link_to 'Edit', edit_loan_advance_path(@loan, @advance) %> |
<%= link_to 'Back', loan_advances_path %>
